:root {
    --background-color: #2b2e31;
    --text-color: #f8f9fa;
    --secondary-color: #212326;
    --primary-color: #1f2022;
    --selected-color: var(--secondary-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.mobile {
    display: none;
}

.box {
    background-color: var(--secondary-color);
    margin: 2rem auto;
    max-width: 70rem;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 1px 2px rgba(21, 21, 21, 0.5);
}

.box-movie {
    cursor: pointer;
}

.modal-dialog {
    color: rgb(12, 12, 12);
}

@media (max-width: 768px) {
    .mobile {
        display: unset;
        visibility: unset;
    }
    .desktop {
        display: none;
    }
}